# {{ ansible_managed }}
[Unit]
Description=GitLab backup to MinIO
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gitlab-backup.sh
StandardOutput=journal
StandardError=journal
