# {{ ansible_managed }}
[Unit]
Description=OKD etcd backup to MinIO
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=ubuntu
ExecStart=/usr/local/bin/etcd-backup.sh
StandardOutput=journal
StandardError=journal
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
