NETBOX_API_TOKEN={{ vault_netbox_api_token | default('CHANGE_ME') }}
NETBOX_API_ENDPOINT={{ netbox_api_endpoint }}
PROXMOX_API_TOKEN_ID={{ vault_proxmox_api_token_id | default('terraform-prov@pve!api-token') }}
PROXMOX_API_TOKEN_SECRET={{ vault_proxmox_api_token_secret | default('CHANGE_ME') }}
