# {{ ansible_managed }}
[Unit]
Description=Sentinel Prometheus (UniFi + Infrastructure Metrics)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=nobody
Group=nogroup
ExecStart=/usr/local/bin/prometheus --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.retention.time={{ prometheus_retention }} --storage.tsdb.path={{ prometheus_data_dir }} --web.listen-address=:{{ prometheus_port }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
