# {{ ansible_managed }}
# Sentinel Matrix Bot configuration
MATRIX_HOMESERVER={{ matrix_bot_homeserver }}
MATRIX_TOKEN={{ matrix_bot_token }}
MATRIX_ROOM_GRAFANA={{ matrix_room_grafana }}
MATRIX_ROOM_WAZUH={{ matrix_room_wazuh }}
MATRIX_ROOM_GITLAB={{ matrix_room_gitlab }}
