{{ ansible_managed | comment }}
*********************************************************************
*                    AUTHORIZED USE ONLY                            *
*                                                                   *
*  This system is the property of Project Sentinel.                 *
*  Unauthorized access is prohibited and will be prosecuted.        *
*                                                                   *
*  All activity on this system is monitored and logged.             *
*  By continuing, you consent to monitoring and recording.          *
*********************************************************************
