# {{ ansible_managed }}
[Unit]
Description=Vault data backup to MinIO
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vault-backup.sh
StandardOutput=journal
StandardError=journal
